<h1>Detalles del libro</h1>
<div>
	Nombre: <%= @book.title %>
</div>

<div>
	Autor: <%= %>
</div>


<div>
	Descripcion: <%= @book.description %>
</div>


<div>
	 Fecha de publicación: <%= @book.publication_date %>
</div>


<div>
	Precio: <%= @book.price %>
</div>